* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
.profile {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid black ;
    border-radius: 16px;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 60px;
    
  }
 
  .profile img {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgb(58, 55, 55);
    
    
  }
  
  .profile p {
    
    color: rgb(147, 150, 153);
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
  }
  .profile .name {

    font-weight: bold;
    font-size: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: black;
    margin: 20px;
  }
  
  .profile ul {
    border-top: 4px solid rgb(128, 128, 128);
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    
    font-weight: 400px;
    font-size: 28px;
    color: black;
    background: rgb(201, 198, 198);
  }
  .profile li {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    border-right: 4px solid rgb(128, 128, 128);
    border-left: 4px solid rgb(128, 128, 128);
    
  }
  .profile li:last-child {
    border: none;
  }
  .profile li:first-child {
    border: none;
  }
  .profile .opts {
    margin-top: 10px;
    font-weight: bold; 
    
  }
 span {
    margin: 10px auto;
  }