* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
.profile {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid black ;
    border-radius: 16px;
    overflow: hidden;
    padding-top: 50px;
    
    
  }
 
  .profile img {
    width: 100%;
    height: 100%;
    align-content: center;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgb(58, 55, 55);
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile p {
    color: rgb(147, 150, 153);
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
  }
  .profile .name {

    font-weight: bold;
    font-size: 60px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  
  .profile ul {
    border-top: 4px solid rgb(128, 128, 128);
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    /* row-gap: 24px; */
    align-items: center;
    justify-content: space-between;
    font-weight: 400px;
    font-size: 50px;
    color: black;
    background: rgb(201, 198, 198);
  }
  .profile li {
    
    flex: 1;
    border-right: 4px solid rgb(128, 128, 128);
    border-left: 4px solid rgb(128, 128, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
  }
  .profile li:last-child {
    border: none;
  }
  .profile li:first-child {
    border: none;
  }
  .profile .opts {
    margin-top: 8px;
    font-weight: bold; 
    
  }